@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  /* text-align: left; */
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  height: 600px;
  width: 350px;
  border-radius: 3%;
  padding: 24px 24px 24px 24px;
  background-color: hsl(216, 50%, 16%);
}

.container a {
  text-decoration: none;
}

.overlay {
  background-image: url(./images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 3%;
  margin-bottom: 24px;
  opacity: 0;
}

.overlay:hover {
  cursor: pointer;
  opacity: 100%;
  background-color: hsla(178, 100%, 50%, 0.356);
}

.container img {
  max-width: 300px;
  max-height: 300px;
  border-radius: 3%;
  margin-bottom: 24px;
}

.container h2 {
  color: hsl(0, 0%, 100%);
  padding-bottom: 24px;
  font-weight: 600;
}

.container h2:hover {
  color: hsl(178, 100%, 50%);
}

.container p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
  margin-bottom: 24px;
  font-weight: 300;
}

.ethereum img,
p {
  float: left;
}

.ethereum p {
  margin-left: 8px;
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.days-left img {
  float: left;
  margin-left: 30%;
}

.days-left p {
  margin-left: 8px;
}

hr {
  border-style: solid;
  color: hsl(215, 51%, 70%);
  width: 300px;
}

#avatar {
  float: left;
  margin: 20px 0px 20px 0px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid hsl(0, 0%, 100%);
}

#credits {
  margin: 24px 0px 24px 15px;
}

#credits a {
  color: hsl(0, 0%, 100%);
}

#jules:hover {
  color: hsl(178, 100%, 50%);
}
/* .attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%);} */
